/* search section */
.Search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Search-input{
    width: 80%;
<<<<<<< HEAD
    background-color: whitesmoke;
    text-align: center;
    padding: 0.3rem;
    border-radius: 25px;
    margin: 10px 0;
    border: 2px solid  #245380;
}
.Search-input input{
    width: 90%;
    height: 4rem;
=======
    text-align: center;
    height: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid;
}
.Search-input input{
    width: 90%;
    height: 5rem;
>>>>>>> 24f4497c7d8e81f3ee45a62c3faa4a0352183bff
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: 600;
<<<<<<< HEAD
    background-color: whitesmoke;
}


=======
}
.Search-input button{
    padding-left: 2rem;
    font-size: 2rem;
    color: #f542a4;
    background-color: inherit;
    border: none;
}
@media screen and (max-width:900px) {
    .Search-input input{
        width: 80%;
    }
}
>>>>>>> 24f4497c7d8e81f3ee45a62c3faa4a0352183bff
/* Emoji Section */
.emoji-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin:0 auto;
    margin-top: 20px;
}
<<<<<<< HEAD

.emoji-container:hover{
    cursor: pointer;
}
.emoji-card{
    padding: 1.2rem;
    background-color: white;
    position: relative;
=======
.emoji-card{
    padding: 1.2rem;
>>>>>>> 24f4497c7d8e81f3ee45a62c3faa4a0352183bff
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s;
}
<<<<<<< HEAD

=======
>>>>>>> 24f4497c7d8e81f3ee45a62c3faa4a0352183bff
.emoji-card span{
    transition: all 0.8s;
}
.emoji-card p{
    font-size: 1.2em;
    font-weight: 600;
}
 .emoji-card:hover {
    transform: scale(1.05);
} 
.emoji-card:hover p{
   opacity: 0;
}
.emoji-card:hover span{
   transform: scale(1.6);

}
.emoji-card span{
    font-size: 3.5em;
}
<<<<<<< HEAD
@media screen and (max-width:900px) {
    .Search-input input{
        width: 80%;
    }
}
@media screen and (max-width:800px) {
    .emoji-container{
        grid-template-columns: repeat(3,1fr);
    }
}
=======
>>>>>>> 24f4497c7d8e81f3ee45a62c3faa4a0352183bff
